@use '../../assets/styles/variables';
@use '../../assets/styles/responsive';

.single {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(140px, auto);

    @include responsive.xl {
        grid-template-columns: repeat(2, 1fr);
    }

    @include responsive.sm {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .cardDetails {
        p {
            margin-bottom: 1rem;
        }
    }
}