.btnContainer {
    width: 102px;
    position: relative;
    display: flex;
    align-items: center;

    button {
        width: 100%;
        text-align: end;
    }
    
    .icon {
        position: absolute;
        left: 1rem;
        pointer-events: none; 
    }
}