@use './variables';
@use './responsive';

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.grid-item {
    padding: 40px;
    border-radius: 15px;
    background-color: 20 66% 98%;
    border: 1px solid variables.$grey;
}

.box {
    grid-column: span 1;
    grid-row: span 1;
    font-size: 0.75rem;

    .summary {
        font-size: 2rem;
        font-weight: 700;
    }
}

.box-portrait {
    grid-column: span 1;
    grid-row: span 2;
}

.box-landscape {
    grid-column: span 2;
    grid-row: span 2;
}

.contentContainer {
    width: 100%;
    padding: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.pill {
    font-size: 0.75rem;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
}

.btn {
      background-color: variables.$clr-primary;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      height: 40px;
      list-style: none;
      padding: 10px 16px;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      touch-action: manipulation;
}

.btn-primary {
    &:hover,
    &:focus {
      background-color: darken(variables.$clr-primary, $amount: 5%);
    }
}

.btn-alt {
    background-color: unset;
    border: variables.$clr-primary 2px solid;
    color: variables.$clr-primary;
    font-weight: 600;

    &:hover,
    &:focus {
      color: darken(variables.$clr-primary, $amount: 20%);
    }
}

.SeparatorRoot {
    margin: 15px 0;
    background-color: variables.$grey;
}

.SeparatorRoot[data-orientation="horizontal"] {
    height: 1px;
    width: 100%;
}
.SeparatorRoot[data-orientation="vertical"] {
    height: 100%;
    width: 1px;
}

.inputContainer {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
    .inputField {
        width: 100%;
        padding: 1rem 1rem 1rem 2.5rem ;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid variables.$grey;
        font-size: 0.75rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    }

    .icon {
        position: absolute;
        left: 1rem;
        pointer-events: none; 
    }
}