@use '../../../assets/styles/variables';
@use '../../../assets/styles/responsive';

.tableContainer {
    border: 1px solid variables.$grey;
    border-radius: variables.$border-radius;
    overflow: hidden;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.75rem;

        th, td {
            padding: 0.75rem;
            text-align: left;
            border-bottom: 1px solid variables.$grey;
        }

        th {
            text-transform: uppercase;

            svg {
                margin-left: 10px;
            }
        }

        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}

h3 {
    padding-bottom: 1em;
}

.tableFooter {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;

    .paginationButtons {
        margin-left: 2rem;
    }

    .pageSize {
        select {
            padding: 8px;
            margin-left: 8px;
        }
    }

    .buttonStyle {
        margin: 0 2px 0 2px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid variables.$grey;

        .paginationIcons {
            width: 20px;
            height: 20px;
            margin: 5px;
        }
    }

    .tableFooterRight {
        display: flex;
        align-items: center;
    }
}